:root {
  --clr-primary-300: hsl(150, 100%, 66%);
  
  --clr-neutral-200: hsl(193, 38%, 86%);
  --clr-neutral-500: hsl(217, 19%, 38%);
  --clr-neutral-700: hsl(217, 19%, 24%);
  --clr-neutral-800: hsl(218, 23%, 16%);
  
  --ff-base: 'Manrope', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
  font-family: var(--ff-base);
  font-size: clamp(1.5rem, 5vw, 1.75rem);
  color: var(--clr-neutral-200);
  background-color: var(--clr-neutral-800);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 33.75rem;
  padding: 3rem 2rem 4rem;
  text-align: center;
  background-color: var(--clr-neutral-700);
  border-radius: 1rem;
}

.advice-id {
  font-size: clamp(0.65rem, 2vw, 0.75rem);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--clr-primary-300);
}

.advice-quote {
  margin-top: 1.5rem;
  quotes: "“" "”" "‘" "’";
}

.advice-quote::before {
  content: open-quote;
}

.advice-quote::after {
  content: close-quote;
}

.divider {
  margin-top: 2.5rem;
}

.button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--clr-primary-300);
  cursor: pointer;
  border: none;
  outline: none;
}

.button:focus-visible, 
.button:hover {
  box-shadow: 0 0 2rem var(--clr-primary-300);
}